In [1]:
print("my name is Saif Ullah")

my name is Saif Ullah

In [2]:
print(18)

18

In [3]:
idcard_1 = "PIAIC"
name = "Saif Ullah"
father_name = "Muhhamad Aslam"
batch = "3"
university = "Bahria Umiversity"
print(name)
print(father_name)
print(batch)
print(university)
print(idcard_1)

Saif Ullah
Muhhamad Aslam
3
Bahria Umiversity
PIAIC

In [6]:
name = "Muhammad Aslam"
print(name)

Muhammad Aslam

In [7]:
weight = 52
multiplier = 3.5

In [9]:
new_weight_1 = weight*multiplier
print(new_weight_1)

182.0

In [10]:
new_weight_2 = weight/multiplier
print(new_weight_2)

14.857142857142858

In [12]:
new_weight_3 = weight+multiplier
print(new_weight_3)

55.5

In [14]:
new_weight_4 = weight-multiplier
print(new_weight_4)

48.5

In [16]:
myname = "Saif Ullah"

In [17]:
father_name = "Muhammad Aslam"

In [18]:
university = "Bahria University Islamabad"

In [19]:
print(myname)

Saif Ullah

In [20]:
print(father_name)

Muhammad Aslam

In [21]:
print(university)

Bahria University Islamabad

In [22]:
data = '''
name2= "Saif Ullah"
father_name2= "Muhammad Aslam"
university2= "Bahria University Islamabad"
'''

In [23]:
print(data)

name2= "Saif Ullah"
father_name2= "Muhammad Aslam"
university2= "Bahria University Islamabad"

In [25]:
data_2 = '''
PIAIC BATCH 3 Islamabad
name3 : {saif ullah}
father_name3 : {muhammad aslam}
university3 : {bahria university islamabad}
'''

In [26]:
print(data_2)

PIAIC BATCH 3 Islamabad
name3 : {saif ullah}
father_name3 : {muhammad aslam}
university3 : {bahria university islamabad}

In [27]:
quotes = ("the best preparation for tommorow is doing your best today")

In [28]:
print(quotes)

the best preparation for tommorow is doing your best today

In [29]:
quotes_2 = ("an investment in knowledge pays the best intrest. Benjamin Franklin")

In [30]:
print(quotes_2)

an investment in knowledge pays the best intrest. Benjamin Franklin

In [31]:
boys = 15

In [37]:
girls = 35

In [39]:
total_boys_and_girls = ("boys+girls")

In [40]:
print(total_boys_and_girls)

boys+girls

In [42]:
number = 100

In [43]:
total = number + 1200

In [44]:
print(total)

1300

In [45]:
my_name0 = "Saif Ullah"

In [46]:
gender = ("Male")

In [47]:
print(my_name0)

Saif Ullah

In [48]:
print(gender)

Male

In [50]:
first_number : (135)

In [51]:
secon_number : (235)

In [52]:
total_numbers = (135+235)

In [53]:
print(total_numbers)

370

In [54]:
total_numbers2 = (135 + 235 - 135 * 2 / 5)

In [55]:
print(total_numbers2)

316.0